extends index

block body
  div(class="note-form-page")
    form(action="/notas", method="post")
      div
        input(type="text", id="title", name="title", placeholder="Escribe el título", autocomplete="off" autofocus)
      div
        textarea(id="body", name="body", rows="8", placeholder="Escribe el texto ...")

      div(class="form-actions")
        a(href="/", class="btn") Cancelar
        button(type="submit", class="btn btn-primary") Crear Nota

  script.
    var textarea = document.getElementById("body");
    var heightLimit = 1000; /* Maximum height: 1000px */

    textarea.oninput = function() {
      textarea.style.height = ""; /* Reset the height*/
      textarea.style.height = Math.min(textarea.scrollHeight, heightLimit) + "px";
    };
