extends layout

block content

  div(class="auth-page expand")
    div(class="card")
      div(class="card-header")
        | Sign Up
      form(action="/register", method="post")
        div(class="card-body")
          div(class="form-group")
            label(for="email") Email
            input(type="text", id="email", name="email" class=errors && errors.email ? "has-errors" : "")
          div(class="form-group")
            label(for="password") Password
            input(type="password", name="password" class=errors && errors.password ? "has-errors" : "")

        div(class="card-footer")
          div(class="small")
            | Already have an account?
            a(href="/login") Click here
          button(type="submit", class="btn btn-primary") Sign Up
