* { box-sizing: border-box; }

strong { font-weight: bold; }

body {
  background: #343438;
  color: #cccccf;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.expand { height: 100%; }

a {
  color: #F2C12E;
  text-decoration: none;
}

.container { display: flex; }

.list {
  width: 400px;
  border-right: 2px solid #292929;
  max-height: 100%;
  overflow-y: scroll;
}

.list-header {
  font-size: 0.95rem;
  text-align: right;
}

.list-header, .note {
  padding: 15px;
  border-bottom: 2px solid #292929;
}

.note { display: block; }

.note.active {
  background: #26262a;
}

.note .note-title { margin-bottom: 5px; }

.note .note-body {
  color: #999;
  font-size: 0.9rem;
}

.body {
  position: relative;
  width: 100%;
  padding-bottom: 80px;
  max-height: 100%;
  overflow-y: scroll;
}

.body .body-header {
  text-align: right;
  padding: 15px 30px;
}

.body .body-actions {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  right: 10px;
}

.body .body-actions a {
  font-size: 18px;
  padding: 15px;
}

.body .body-content {
  min-width: 600px;
  max-width: 800px;
  padding: 30px 60px;
}

.body .body-title {
  color: #F2F2F2;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.body .body-text { line-height: 1.6; }

.body .body-text h1,
.body .body-text h2,
.body .body-text h3,
.body .body-text h4,
.body .body-text h5,
.body .body-text h6 {
  color: ##F2F2F2;
  margin: 1em 0 0.4em;
}

.body .body-text h1 { font-size: 1.4rem; }
.body .body-text h2 { font-size: 1.3rem; }
.body .body-text h3 { font-size: 1.2rem; }
.body .body-text h4 { font-size: 1.1rem; }
.body .body-text h5 { font-size: 1rem; }
.body .body-text h6 { font-size: 0.9rem; }

.body .body-text p { margin-bottom: 1rem; }

.note-form-page {
  width: 100%;
  padding: 30px 60px;
}

.note-form-page form {
  width: 100%;
}

.note-form-page input[type="text"], .note-form-page textarea {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  width: 100%;
}

.note-form-page #title {
  color: #47bded;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.note-form-page #body {
  color: #ccc;
  font-size: 1rem;
  line-height: 1.6;
}

.note-form-page .form-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  margin-top: 45px;
  border-top: 2px solid #292929;
  padding: 10px 20px 15px;
}

.note-form-page .form-actions .btn {
  background: #666;
  color: white;
  font-size: 0.95rem;
  padding: 10px 20px;
  border: none;
  margin: 5px;
}

.note-form-page .form-actions .btn.btn-primary { background-color: #F2C12E; }

.note-form-page form .form-group {
  position: relative;
}

.note-form-page form .error {
  position: absolute;
  left: -30px;
  top: 5px;
}

.note-form-page form .error .error-icon {
  color: red;
  font-size: 1.2rem;
}

.note-form-page form .error .error-text {
  display: none;
  background: #313135;
  font-size: 0.95rem;
  border: 2px solid #444;
  border-radius: 5px;
  padding: 7px 10px;
  margin-top: 5px;
}

.note-form-page form .error .error-text.show {
  display: block;
}

.note-page img { max-width: 100%; }

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-page .card {
  background: #313135;
  border: 2px solid #444;
  border-radius: 5px;
  min-width: 450px;
}

.auth-page .card .card-header {
  color: #47bded;
  font-weight: bold;
  font-size: 1.1rem;
  border-bottom: 2px solid #444;
  padding: 12px 25px;
}

.auth-page .card .card-body { padding: 25px 25px 5px; }

.auth-page form .form-group {
  padding: 10px 0;
  margin-bottom: 12px;
}

.auth-page form label {
  display: block;
  color: #cccccf;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.auth-page form input {
  background: rgba(0, 0, 0, 0);
  color: #999;
  font-size: 1rem;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #999;
  padding: 7px;
  outline: none;
}

.auth-page form .has-errors {
  border-color: #e03d3a;
}

.auth-page form .error-text {
  color: #e03d3a;
  font-size: 0.9rem;
  margin-top: 5px;
}

.auth-page .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  margin-top: 10px;
  padding: 17px 25px;
}

.auth-page .card-footer .small {
  color: #999;
  font-size: 0.9rem;
}

.auth-page form .btn {
  background: #666;
  color: white;
  font-size: 0.95rem;
  padding: 8px 16px;
  border: none;
  margin: 5px;
}

.auth-page form .btn.btn-primary { background-color: #47bded; }

.alert {
  font-size: 0.95rem;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.alert-error {
  background: #e03d3a;
  color: white;
}
